/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b9b59f; 
}

header {
    background-color: #6f634d; 
    color: #314837; 
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #bf9f4c; 
    padding: 10px 70px;
}

nav ul li a {
    color: #314837; 
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: black;
}

main {
    padding: 20px;
}

footer {
    position: fixed ;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: #314837; 
    text-align: center;
    
}


.footer { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    width: 100%;
    background-color: #bf9f4c; 
    color: #314837; 
    text-align: center;
}

/* 404 Page Styles */

body.error404 {
    background-color: #b9b59f;
}

main.error404 {
    text-align: center;
    margin-top: 50px;
}

h1.error404 {
    font-size: 36px;
    color: #314837; 
}

p.error404 {
    font-size: 18px;
    color: #314837; 
}

a.error404 {
    color: #314837; 
    text-decoration: none;
}

a.error404:hover {
    text-decoration: underline;
    color: black;
}

#notfound {
    max-width: 30%;
    height: auto;
}

/*Parking lots page CSS */

img{
    max-width: 30%;
    height: auto;
}

ul {
    list-style-type: none;
}

ul li::before {
    content: "\1F697";
    padding-right: 8px; 
}

/* Parking Lots Page Styles */
#selectedLot {
    margin-top: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    grid-template-rows: repeat(auto-fill, auto); 
    gap: 20px; 
}

.spot {
    border: 1px solid #6f634d; 
    padding: 10px; 
    text-align: center;
    left: 0;
    right: 0;
    bottom: 10px;

}

.spot p {
    margin: 0; 
}

.spot > p {
    font-weight: bold;
}

.spot > div {
    margin-top: 10px; 
}

.spot img{
    max-width: 70%;  
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#selectedLot h1 {
    font-size: 24px; 
    color: #314837; 
    margin-bottom: 20px; 
    justify-content: left;
    
}

#selectedLot p {
    font-size: 16px; 
    color: black; 
    margin-bottom: 10px; 
}
